.cus-page-header{
	padding:10px;
	margin-bottom:10px;
	background-color:#3681c1;
}

#jumbo{
	padding:15px !important;

}

#search{
	margin-bottom:30px;
}

.cus_button_menu{
	margin-top:20px;
	width:auto;
	height:auto;

}

#heading{
	font-weight:bold;

}
